# Python specific
**/__pycache__
**/*.pyc

db.sqlite3

Railway/

# Virtual environments
venv/
.venv/
ENV/

# Git
.git
.gitignore

# Project specific
README.md

# Frontend
# builded in local development, using static files from backend

frontend/